@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

body {
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #555555;
    background-image: url("header.jpg");
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    position: relative; 
}

h1 {
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    font-size:80px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 25px; 
}

.nav {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin: 0px 25pc 0px 25px;
    margin: 0px 25px;
    line-height: 80px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.nav ul li:hover {
    color: red; 
}

.roll {
    width: 0%;
    height: 3px;
    background-color: red;
    margin-top: -28px;
    transition: all ease-in-out 0.3s;
    margin-left:50%;
    transform: translateX(-50%);
}

.nav ul li:hover .roll {
    width: 100%;
}

.social {
    position:absolute;
    top:0;
    right:0;
    line-height:80px;
}

.social .fab {
  margin: 0px 15px;
  font-size: 20px;
  color: #555555;
}

.fa-facebook-f:hover {
        color: #1877f2;
}

.fa-instagram:hover {
    color:#c32aa3;
}

.fa-twitter:hover {
    color:#1da1f2;
}

.fa-linkedin-in:hover {
    color:#007bb5;
}

.fa-youtube:hover {
    color:#ff0000;
}

a 
{
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: auto;
    padding: 100px 0;
}

.info {
    width: 180px;
    min-height: 200px;
    background-color: darkgrey;
    float: left;
    margin-right: 40px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    
}

.info:nth-child(4) {
    margin-right: 0;
}

.info .fas {
    font-size:50px;
    color: black;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align:center;
    line-height: 80px; 
}

.info h3 {
    font-size: 16px;
    color:black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.info p {
    color: dimgrey;
    font-size: 13px;
}

.info button {
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: whitesmoke;
    color: black;
    font-size:12px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;     
}

.info button:hover {
    background-color: dimgrey;
    
}
.info:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.clear {
clear:both;
}

.altbg {
    background-color:white;
}

h2 {
	text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #333333;
}
	
.photo {
	width: 460px;
    height: 250px;
	background-color:#555555;
}
	
.photo {
	width: 460px;
	height: 250px;
	background-color:#555555;
	float:left;
}
	
.photo+.photo {
	float:right;
    background-image:url("photo2.jpg");
}
	
.photo {
	width: 460px;
	height: 250px;
	background-color:#555555;
	float:left;
	background-image: url("photo-1.jpg");
    background-size: 100%;
    background-position: center center;
    margin-top:50px;
    transition: all ease-in-out 0.3s;
    position:relative;
	overflow:hidden;
}

.photo:hover {
	background-size:120%;
}

.photo h3 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-align:center;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1px;
    text-transform: uppercase;
    margin:0;
    transform: translateY(100%);
    transition: all ease-in-out 0.3s;	
}

.photo:hover h3 {
	transform:translateY(0%);
}

.gallery {
	padding:0;
}
.gallery li {
	list-style-type:none;
	width:33.2%;
	height:210px;
	background-color:#000000;
	float:left;
	margin-right:0.2%;
	margin-bottom:2px;
	overflow:hidden;
	position:relative;
}
.gallery img {
	width:100%;
	opacity:1;
}
	
.gallery li:nth-child(3n) {
	margin-right:0;
}

.gallery li div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
    transform:translateY(-100%);
	transition:all ease-in-out 0.3s;
}
.gallery li:hover div {
	transform:translateY(0);
}
	
.gallery li div p {
	padding:0px 18px;
	margin-top:20px;
	color:white;
	font-weight:700;
	font-size:14px;
	text-transform:uppercase;
	opacity:0;
	transition:0.3s all ease-in-out 0.3s;
}
	
.gallery li:hover div p {
	opacity:1;
}

.about {
	margin-top: 50px;
    color: #AAAAAA;
    text-align: center;
}
	
.contact {
	width:45%;
	display:inline-block;
}
	
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display:block;
	width:100%;
	margin:10px 0;
	padding:10px;
	border-radius:6px;
	border:1px solid #CCC;
	outline:0;
	color:#333333;
	background-color:white;
	font-family:"Lato", sans serif;
}
	
input[type="submit"] {
    width: auto !important;
    margin-top: 30px !important;
    background-color: #555 !important;
    color: white !important;
    font-weight: 700;
    padding: 10px 25px !important;
    text-transform: uppercase;
    font-size: 12px;
}
	
iframe {
	width: 50%;
    float: right;
    margin-top: 10px;
}




	

	
	

	
	
	
	